
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{jqu}}"></script>
<script>
    $('.vente-formset').formset({
        addText: 'Ajouter Item',
        deleteText: 'remove'
    });
</script>


<form action="{% url "faire_vente" %}" method="post" id="Form">
    <p id="Vente">
        {% csrf_token %}
        {{ form.as_p }}
        prix HT {{prixHT}}
        prix TC {{prixTC}}
    </p>
    <input type="button" value="Ajouter article" onclick="add('#Vente')" />
    <input type="submit" value="Submit" />
</form>


<script>
function add() {
    document.getElementById('Form').innerHTML +=document.getElementById('Vente')
}
</script>



<form method="post" action="{% url "faire_vente" %}">
{% csrf_token %}
{{ formset.management_form }}
   <table>
       {{trans_form.as_table}}
        {% for form in formset.forms %}
            <table>{{ form }}</table>
        {% endfor %}
    </table>
    <p><input type="submit" name="submit" value="Submit"></p>
</form>



<form method="post" action="{% url "faire_vente" % id='vente_form'}">
    {% csrf_token %}
    {{ formset.management_form }}

    <div id="form_set">
        {% for form in formset.forms %}
            <table class='no_error'>
                {{ form.as_table }}
            </table>
        {% endfor %}
    </div>

    <div id="empty_form" style="display:none">
        <table class='no_error'>
            {{ formset.empty_form.as_table }}
        </table>
    </div>

    <input type="button" value="Ajouter Item" id="add_form">
    <input type="submit" name="submit" value="Submit">
</form>

<script>
    $('#add_form').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>

